label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

form {
    margin:0 auto;
    width:459px;
}

input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background: #efefef;
}
