/* styling for the image wrapper  */
#image_wrap {
    width:700px;
    padding:15px 0;
 
    text-align:center;
 
    background-color:#efefef;
    border:2px solid #fff;
    outline:1px solid #ddd;
    -moz-ouline-radius:4px;
}
