.button1 {
    background-color: white;
    color: black;
    border: 2px solid gray; 
}
.container {
  max-width: 700px;
  background-color: white;
  margin: 100 auto;
  text-align: center;
  position: bottom;
}
.container div {
  background-color: gray;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 90%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}
