.container {
  max-width: 700px;
  background-color: white;
  margin: 500 auto;
  text-align: center;
  position: bottom;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: relative;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}
